@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Bree+Serif&family=Open+Sans&display=swap');


.inline-block {
    display: inline-block;
    vertical-align: top;
    
}
.logo {
    width: 23%;
    padding: 1%;
}
.logo img {
    max-height: 100px;
    padding-left: 30%;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
    list-style-type: none;
}
.navigation {
    background-color: #F9EFD0;
    max-height: 150px;
}
.name {
    padding-top: 3%;
    font-family: 'Alumni Sans';
    font-size: 24px;
}
.links {
    margin-top: -80px;
    padding-left: 100%;
}
.links li {
    padding: 2%;
}


.heroImg {
    height: 600px;
    padding: 25px;
}
.heroImg img {
    max-height: 600px;
    align-content: center;
}
.content {
    width: 500px;
    margin: 0 auto;
}





footer {
    background-color: #F9EFD0;
    text-align: center;
    margin-top: 6%;
}
footer ul {
    display: inline-block;
    margin-left: auto;
    list-style-type: none;
    padding-left: 40%;
    padding-top: 0.5%;
    overflow: hidden;
}
footer li {
    float: left;
}
.inline-block-footer {
    padding: 2%;
}


li {
    font-family: 'Alumni Sans';
    font-size: 24px;
}
p {
    font-family: 'Bree Serif';
}